.Bdc\(pm\) {
  border-color: var(--primary);
}
.Bds\(s\) {
  border-style: solid;
}
.Bdw\(1px\) {
  border-width: 1px;
}
.Bgc\(bg\) {
  background-color: var(--background);
}
.Bgc\(pm\) {
  background-color: var(--primary);
}
.Bgc\(sn\) {
  background-color: var(--secondary);
}
.C\(txt\) {
  color: var(--text);
}
.D\(f\) {
  display: flex;
}
.D\(g\) {
  display: grid;
}
.Fx\(1\) {
  flex: 1;
}
.Fxd\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Ai\(fe\) {
  align-items: flex-end;
}
.Jc\(c\) {
  justify-content: center;
}
.Jc\(fe\) {
  justify-content: flex-end;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fw\(600\) {
  font-weight: 600;
}
.Fw\(b\) {
  font-weight: bold;
}
.Fz\(3\.2rem\) {
  font-size: 3.2rem;
}
.Fz\(3rem\) {
  font-size: 3rem;
}
.H\(100\%\) {
  height: 100%;
}
.H\(16rem\) {
  height: 16rem;
}
.H\(5rem\) {
  height: 5rem;
}
.Lh\(1\) {
  line-height: 1;
}
.Mx\(a\) {
  margin-left: auto;
  margin-right: auto;
}
.Mend\(1rem\) {
  margin-right: 1rem;
}
.Mstart\(1rem\) {
  margin-left: 1rem;
}
.B\(2rem\) {
  bottom: 2rem;
}
.Start\(50\%\) {
  left: 50%;
}
.P\(1rem\) {
  padding: 1rem;
}
.Px\(1rem\) {
  padding-left: 1rem;
  padding-right: 1rem;
}
.Pos\(a\) {
  position: absolute;
}
.Ta\(c\) {
  text-align: center;
}
.Tt\(u\) {
  text-transform: uppercase;
}
.TranslateX\(-50\%\) {
  transform: translateX(-50%);
}
.W\(5rem\) {
  width: 5rem;
}
.W\(80\%\) {
  width: 80%;
}
.Fill\(sn\) {
  fill: var(--secondary);
}
.Fill\(t\) {
  fill: transparent;
}
.Gtcr\(3\) {
  grid-template-columns: repeat(3, minmax(0,1fr));
}
.Gap\(1rem\) {
  gap: 1rem;
}
.Gap\(5px\) {
  gap: 5px;
}
